body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

input {
  width: 60%;
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  background: purple;
  color: white;
  border: none;
}
